.error {
  color: red;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: helvetica, arial, sans-serif;
}

.RegionList table {
  width: 100%;
  max-width: 1100px;
}

.RegionList th {
  text-align: left;
}