.error {
  color: red;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: helvetica, arial, sans-serif;
  max-width: 1300px;
  margin: 15px auto;
}

.RegionList table {
  border-spacing: 0;
}

.RegionList th, td {
  text-align: left;
  padding: 7px 0;
}

.RegionList tr:hover td {
  background-color: #fefecf;
}

.ConditionSquare {
  width: 11px;
  height: 11px;
  margin: 5px;
  float: left;
}

.c_flat {
  background-color: #555;
}

.c_poor, .c_poor_to_fair {
  background-color: #39f;
}

.c_fair, .c_fair_to_good {
  background-color: #0c0;
}

.c_good, .c_good_to_epic {
  background-color: #f90;
}

.c_epic {
  background-color: #f00;
}

.RegionSelector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
}

.SurfQuant {
  float: left;
}