.error {
  color: red;
}

.hidden {
  visibility: hidden;
}

body, table {
  font-family: helvetica, arial, sans-serif;
  font-size: 34px;
  line-height: 1.5;
}

body {
  margin: 0 auto;
}

a {
  color: #19CF86;
}

input[type=checkbox] {
  transform: scale(2);
  transform-origin: bottom;
  margin: 0 20px;
}

#content {
  width: 1760px;
}

.RegionList table {
  border-spacing: 0;
}

.RegionList th, .RegionList td {
  text-align: left;
  color: #666;
  padding: 8px 10px;
  width: 200px;
}

.RegionList tr:hover td {
  background-color: #fefecf;
}

.ConditionSquare {
  width: 25px;
  height: 25px;
  margin: 5px;
  display: inline-flex;
}

.c_flat {
  background-color: #555;
}

.c_poor, .c_poor_to_fair {
  background-color: #39f;
}

.c_fair, .c_fair_to_good {
  background-color: #0c0;
}

.c_good, .c_good_to_epic {
  background-color: #f90;
}

.c_epic {
  background-color: #f00;
}

.LoadingIndicatorContainer {
  background: #73D5A2;
}

.LoadingIndicator {
  margin: 0 0 0 8px;
  color: white;
  text-shadow: 1px 1px black;
}

.RegionSelectorContainer {
  display: flex;
  background: #EBF9F2;
}

.RegionSelector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.SurfQuant {
  float: left;
}

.RegionToggle {
  padding: 10px 5px;
}